

table.editablegrid { 
	border-collapse: collapse; 
	border: 1px solid #CCB;
	margin-bottom: 2em;
	width: 100%;
}

table.editablegrid tr {
	border-bottom: 1px solid #DDD;
}

table.editablegrid>tbody tr:hover {
	background-color: #888888;
	color: white;
}

table.editablegrid th {
	background: #E5E5E5;
	border: 1px solid #D5D5D5;
	color: #555;
	text-align: left;
	padding: 5px;
}

table.editablegrid td {
	padding: 5px;
	border: 1px solid #E0E0E0;
}

.number {
	text-align: right;
	font-weight: bold;
}
